.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.divwrap{
  display: flex;
  justify-content: space-evenly;
  margin-top:3%;
  margin-bottom: 3%;
}

.col1{
  width: 14%;
  text-align: left;
  border: 2px solid #000;
  padding: 5px 5px 5px 5px;
}


.col2{
  width: 14%;
  text-align: left;
  border: 2px solid #000;
  padding: 5px 5px 5px 5px;
}


.col3{
  width: 14%;
  text-align: left;
  border: 2px solid #000;
  padding: 5px 5px 5px 5px;
}

footer{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  background-color: #111;
  color: grey;
  height: 300px;
  width: 100%;
}

.foot1{
  margin-top:5%;
  width: 17%;
}

.foot2{
  margin-top:5%;
  width: 17%;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color:rgb(227, 213, 54);
  color: white;
}




